
/*
 * Title Bar
 */

div#latiendita-menu-bar {
    height: 4rem;
}

div.top-bar {
    height: 4rem;

    margin-left: auto;
    max-width: 90rem;
    margin-right: auto;
}

div#latiendita-menu-bar, div#latiendita-menu-bar div, div#latiendita-menu-bar ul, div#latiendita-menu-bar li {
   background-color: #f4dcb3;
}

div.top-bar img#menu-logo {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 2.5rem;
}

div.top-bar div.top-bar-left {
    max-width: 20rem;
}

div.top-bar div.top-bar-right input#latiendita-main-search {
    max-width: 80rem;
    margin-right: 0.5rem;
}
